<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.fb.qa.listener.ListnerTest" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.fb.qa.tastcases.SignUpPageTest" />
			<class name="com.fb.qa.tastcases.LoginPageTest" />
			<class name="com.fb.qa.tastcases.HomePageTest" />
			<class name="com.fb.qa.tastcases.CreateFbPageTest" />
			<class name="com.fb.qa.tastcases.FoegetPasswordTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
